<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">Skip</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="false">
        <ion-slide *ngFor="let section of staticData.sections; let i=index">
            <img src="{{section.image}}" class="slide-image" />
            <h2 class="slide-title">
                {{section.title}}
            </h2>
            <p *ngIf="!section.isLast">
                {{section.text}}
            </p>
            <ion-button fill="clear" (click)="startApp()" *ngIf="section.isLast">
                {{section.text}}
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>
    </ion-slides>
</ion-content>